body {
    background-color: #f1efeb99;
    font-family: 'Cairo', sans-serif;
}

nav {
    background-image: linear-gradient(to right , #93745e ,#967a68);
    padding: 10px 5%;
    z-index: 10000;
}

nav p {
    color: rgba(255, 255, 255, 0.659);
    margin: 0;
}

#navbtn {
    background-color: rgba(255, 255, 255, 0.31);
}

.card {
    background-color: #f0ede5;
    transition: 0.3s;
    border: none;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

a {
    text-decoration: none;
    color: inherit;
}

footer a {
    display: block;
    color: rgba(255, 255, 255, 0.721);
    transition: 0.3s;
}

footer a:hover {
    color: white;
    text-decoration: underline;
}

footer {
    background-image: linear-gradient(to right , #93745e ,#967a68);
    padding: 10px 5%;
}